


/* Page css - Main */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.threejs-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}



.main-canvas{
  position: absolute;
  left:0;
  top:0;
  z-index: 1;
}

.main-html{
  position: absolute;
  left:0;
  top:0;
  z-index: 2;
}

.main-html-container{
  width:100%;
  height:100%;
  padding: 20px;
  pointer-events: auto;
  color: #000;
  overflow-y: auto;
  box-sizing: border-box;
}

/*Sekcja główna*/

.main{

  display: flex;
  flex-direction: column;
  align-items: center;
   gap:30px;
}
